<div id="footer">
  &copy; 2015 - 
  <a href="https://github.com/lindsayanunez/backsplash-" target= "_blank">
  <%= fa_icon "github-square" , text: "Open Sourced Here" %>

  <a href="https://instagram.com/lnunez1/" target= "_blank"><i class="fa fa-instagram"></i>
</div>   